* {
  box-sizing: border-box;
}
body {
  margin: 200px;
  margin-top: 30px;
}
a {
  font-size: 30px;
  color: blue;
  text-decoration: none;
}
a:hover {
  color: red;
}

h1 {
  text-align: center;
  color: blue;
  font-size: 40px;
}
.inf {
  font-size: 30px;
  color: red;
}

.item {
  width: 100%;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.itemcon {
  width: 32%;
  background-color: whitesmoke;
  
}

.anh {
  width: 100%;
}
