.part-1 {
  align-items: center;
  text-align: center;
  height: 100px;
  background-image: linear-gradient(to right, rgb(236, 218, 195), white);
}
.btn-search {
  width: 100%;
  border-radius: 20px;
  border: 0px solid;
}
.text-vietphat {
  font-size: 180%;
  font-weight: 700;
  color: black;
  text-decoration: none;
}
.text-sanpham {
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 110%;
  font-weight: 500;
}
.image-top {
  width: 40px;
  height: 40px;
  background-color: aliceblue;
  border-radius: 50%;
  background-image: url(./imgs/Su-user.png);
  background-size: 100%;
}
.image-top1 {
  text-align: center;
}
.giohang {
  text-align: end;
}
.part-2 {
  width: 60%;
  height: 400px;
  margin-left: 20%;
  margin-top: 5%;
  background-color: rgb(212, 236, 236);
}
.text-top {
  width: 100%;
  height: 10%;
  font-size: 15px;
  font-weight: 500;
}
.text-top2 {
  font-size: 15px;
  color: rgb(133, 127, 127);
}
.khunghang {
  width: 100%;
  height: 90%;
}
.khunghang-muc {
  width: 100%;
  height: 10%;
  display: flex;
}
.khunghang-spdachon {
  width: 100%;
  height: 50%;
  overflow: scroll;
}
.sp-dachon {
  width: 100%;
  height: 20%;
}
.khunghang-mucsp {
  width: 32%;
}
.khunghang-mucgia {
  width: 20%;
}
.khunghang-mucsl {
  width: 30%;
}
.khunghang-muctong {
  width: 20%;
}
.spdachon1 {
  width: 100%;
  height: 20%;
  display: flex;

  border: 1px solid;
  border-color: rgb(180, 170, 170);
}
.spdachon1-tensp {
  width: 30%;
  display: flex;
}
.spdachon1-gia {
  width: 20%;
}
.spdachon1-sl {
  width: 30%;
  display: flex;
}
.spdachon1-tong {
  width: 20%;
}
.spnho-img {
  width: 20%;
  background-color: blue;
  border-radius: 50%;
  background-image: url(./imgs/lazine.jpeg);
}
.giamsl {
  border-color: white;
  width: 15%;
  text-align: center;
}
.tangsl {
  border-color: white;
  width: 15%;
  text-align: center;
}
.tongtienhang {
  width: 60%;
  height: 10%;
  margin-left: 35%;

  display: flex;
  border: 1px solid;
  overflow: hidden;
}
.text-tongtienhang {
  width: 60%;
  text-align: center;
  font-size: 130%;
}
.number-tongtienhang {
  width: 40%;
  font-size: 130%;
}
.thanhtoan {
  width: 70%;
  height: 16%;
  margin-left: 15%;
  display: flex;margin-top: 1%;
  overflow: hidden;
}
.btn-muathem {
  width: 49%;
  background-color: red;
  color: white;
  border-color: white;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.btn-thanhtoan {
  width: 50%;
  background-color: red;
  color: white;
  border-color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 1%;
}
.part-4 {
  background-color: rgb(255, 255, 255);
  width: 80%;
  height: 200px;
  margin-left: 9%;
  margin-right: 11%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(211, 207, 207);
  border-left: hidden;
  border-right: hidden;
  border-bottom: hidden;
}
.part4-cl1 {
  width: 23%;
}
.part4-text1a {
  width: 100%;
  height: 20%;
  margin-top: 10%;
  font-size: 24px;
  font-weight: 500;
}
.part4-text1b {
  width: 100%;
  font-size: 14px;
  color: grey;
}
.part4-text1bc {
  width: 100%;
  display: flex;
}
.btn-sendEmail {
  background-color: rgb(241, 189, 124);
  width: 20%;
  position: relative;
}
.form-email {
  width: 80%;
}
