.part-1 {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(to right, rgb(236, 218, 195), white);
  display: flex;
  align-items: center;
}
.manu-1 {
  height: 60%;
}
.part1-item {
  width: 100%;
  display: flex;
  text-align: center;
}
.branch {
  width: 15%;
  display: flex;
  align-items: center;
  text-align: center;
}
.text-branch {
  font-size: 200%;
  font-weight: 700;
  text-decoration: none;
  color: black;

  margin-left: 10%;
}
.sanpham {
  width: 15%;
  display: flex;
  align-items: center;
  text-align: center;
}
.text-sanpham {
  font-size: 130%;
  font-weight: 500;
  color: black;
  text-decoration: none;
  margin-top: 5%;
}
.muiten-manu {
  margin-top: 60%;
}
.text-sanpham:hover {
  color: red;
}
.input-search {
  width: 40%;
  display: flex;
  align-items: center;
  text-align: center;
}
.input-search1 {
  width: 100%;
}
.image-top {
  width: 40px;
  height: 40px;
  background-color: aliceblue;
  border-radius: 50%;
  background-image: url(./imgs/Su-user.png);
  background-size: 100%;

  margin-top: 25%;
}
.traitim {
  width: 6%;
}
.traitim-img {
  margin-top: 20%;
  margin-left: 50%;
}
.giohang {
  width: 10%;
}
.giohang-img {
  margin-top: 12%;
}

.part-2 {
  width: 60%;
  height: 400px;
  margin-left: 20%;
  margin-top: 5%;
  background-color: rgb(212, 236, 236);
}
.text-top {
  width: 100%;
  height: 10%;
  font-size: 15px;
  font-weight: 500;
}
.text-top2 {
  font-size: 15px;
  color: rgb(133, 127, 127);
}
.khunghang {
  
  width: 100%;
  height: 90%;
}
.khunghang-muc {
  width: 100%;
  height: 10%;
}
.khunghang-spdachon {
  width: 100%;
  height: 50%;
}
.sp-dachon {
  width: 100%;
  height: 20%;
}