* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.part-1 {
  align-items: center;
  text-align: center;
  height: 100px;
  max-width: 100%;
  background-image: linear-gradient(to right, rgb(236, 218, 195), white);
}
.btn-search {
  width: 100%;
  border-radius: 20px;
  border: 0px solid;
}
.text-vietphat {
  font-size: 2rem;
  font-weight: 700;
  color: black;
  text-decoration: none;
}
.text-sanpham {
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 110%;
  font-weight: 500;
}
.image-top {
  width: 40px;
  height: 40px;
  background-color: aliceblue;
  border-radius: 50%;
  background-image: url(./imgs/Su-user.png);
  background-size: 100%;
}
.image-top1 {
  text-align: center;
}
.giohang {
  text-align: end;
}
.part-2 {
  
  background-image: url(./imgs/backgroundimagepart2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 1%;
  border-top-width: 2%;
}

.text-part2 {
  margin-left: 5%;
  height: 60px;
  display: flex;
  align-items: flex-end;
}
.text-tpcn {
  font-size: 160%;
  font-weight: 500;
  width: 100%;
}

.part-3 {
  height: auto;
  max-width: 100%;
  margin-top: 4%;
  align-items: center;
  text-align: center;
}
.img-left {
  min-width: 100%;
  height: 80%;
}
.text-left {
  width: 100%;
  height: 20%;
}
.part-4 {
  margin-top: 2%;
  background-color: rgb(243, 224, 200);
  color: rgb(90, 85, 85);
}

.image {
  width: 100%;
  height: auto;
  max-height: 400px;
  overflow: hidden;
}
.image img {
  width: 100%;
  
}
.part-1-mobie {
  display: flex;
  align-items: center;

  height: 100px;
  max-width: 100%;
  background-image: linear-gradient(to right, rgb(236, 218, 195), white);
}

.icon-humbugur {
  display: flex;
  text-align: end;
}
.bi-list {
  font-size: 2.5rem;
}
.bi-chat-dots {
  font-size: 2rem;
}
.chat {
  margin-left: 90%;
  margin-bottom: 5%;
  height: 30px;
}

a {
  text-decoration: none;
  font-size: 1rem;
  color: rgb(71, 66, 66);
}
.phanhoi {
  display: flex;
}
.input-phanhoi {
  width: 60%;
}
.btn-phanhoi {
  border-radius: 5px;
  background-color: red;
  color: white;
  margin-left: 1%;
}
.part4-texthead {
  font-size: 120%;
  color: rgb(26, 16, 16);
  font-weight: 400;
}

@media only screen and (min-width: 1200px) {
  .part-1-deskop {
    display: flex;
  }
  .part-1-mobie {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  .part-1-deskop {
    display: none;
  }
  .text-vietphat {
    margin-left: 3%;
  }
  .part-2 {
    height: auto;
  }
  .part-3 {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .product {
    width: 32%;
  }
}
@media only screen and (max-width: 576px) {
  .part4 {
    width: 33%;
  }
  .part4-phanhoi {
    display: none;
  }
  .part-slider {
    display: none;
  }
}
@media only screen and (min-width: 576px) {
  .chat {
    display: none;
  }
}

.product-chitiet {
  height: 300px;

  text-align: center;
}
.form-imgchitiet {
  width: 225px;
  height: 70%;
  overflow: hidden;
  margin-left: 10%;
}
.form-motachitiet {
  width: 225px;

  margin-left: 10%;
  height: 30%;
}
@media only screen and (max-width:576px) {
  .form-imgchitiet {
    width: 225px;
    height: 70%;
    overflow: hidden;
    margin-left: 25%;
  }
  .form-motachitiet {
    width: 225px;
    margin-left: 25%;
    height: 30%;
}
  
}
.img-chitiet {
  width: 100%;
}

.btn-xemthem {
  text-align: center;
}
.bi-cart-plus {
  font-size: 1.5rem;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 99;
  border: 1px solid;
  outline: none;
  background-color: #fff;
  border: 2px solid #ccc;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.7;
  border: 0px solid;
  }
   
  #myBtn:hover {
  background-color: #f1f1f1;
  }
  .bi-chevron-double-up {
    background-color: red;
    font-size: 1.5rem;
    border-radius: 50%;
  }
  