.part-1 {
  align-items: center;
  text-align: center;
  height: 100px;
  background-image: linear-gradient(to right, rgb(236, 218, 195), white);
}
.btn-search {
  width: 100%;
  border-radius: 20px;
  border: 0px solid;
}
.text-vietphat {
  font-size: 180%;
  font-weight: 700;
  color: black;
  text-decoration: none;
}
.text-sanpham {
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 110%;
  font-weight: 500;
}
.image-top {
  width: 40px;
  height: 40px;
  background-color: aliceblue;
  border-radius: 50%;
  background-image: url(./imgs/Su-user.png);
  background-size: 100%;
}
.image-top1 {
  text-align: center;
}
.giohang {
  text-align: end;
}
.part-2 {
  height: 800px;
  background-image: url(./imgs/backgroundimagepart2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 5%;
  border-top-width: 3%;
  
}
.list-sanpham1 {
   text-align: center;
   padding: 2%;
}
.Text-tatcasanpham {
    font-size: 120%;
    font-weight: 500;
    margin-left: 3%;
}
.khung-chitietsanpham {
    margin-top: 1%;
    height: 200px;
}
.khung-chitietanh {
    width: 100%;
    height: 80%;
    overflow: hidden;
}
.xemthem {
    width: 100%;
    text-align: center;

}

.btn-xemthem {
    width: 10%;
    border-color: white;
    border-radius: 10px;
    color: white;
    background:red;
}
.khung-tensanpham {
    width: 100%;
    height: 20%;
    overflow:hidden;
}
.Ten-sanphamchitiet {
    font-size: 100%;
    font-weight: 600;
    width: 100%;
  
}
.gia-sanphamchitiet {
    display: flex;
    width: 100%;
    height: 50%;
    font-size: 74%;
}
.price-chitiet {
    width: 80%;
    color: red;
    text-align: start;
}
.part-4 {
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 200px;
    margin-left: 9%;
    margin-right: 11%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(211, 207, 207);
    border-left: hidden;
    border-right: hidden;
  }
  .part4-cl1 {
    width: 23%;
  }
  .part4-text1a {
    width: 100%;
    height: 20%;
    margin-top: 10%;
    font-size: 24px;
    font-weight: 500;
  }
  .part4-text1b {
    width: 100%;
    font-size: 14px;
    color: grey;
  }
  .part4-text1bc {
    width: 100%;
    display: flex;
  }
  .btn-sendEmail {
    background-color: rgb(241, 189, 124);
    width: 20%;
    border-color: white;
    border-radius: 10px;
    
  }
  .form-email {
    width: 80%;
  }
  