* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.part-1 {
  align-items: center;
  text-align: center;
  height: 100px;
  max-width: 100%;
  background-image: linear-gradient(to right, rgb(236, 218, 195), white);
}
.btn-search {
  width: 100%;
  border-radius: 20px;
  border: 0px solid;
}
.text-vietphat {
  font-size: 2rem;
  font-weight: 700;
  color: black;
  text-decoration: none;
}
.text-sanpham {
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 110%;
  font-weight: 500;
}
.image-top {
  width: 40px;
  height: 40px;
  background-color: aliceblue;
  border-radius: 50%;
  background-image: url(./imgs/Su-user.png);
  background-size: 100%;
}
.image-top1 {
  text-align: center;
}
.giohang {
  text-align: end;
}
.part-2 {
  min-height: 800px;
  height: auto;
  background-image: url(./imgs/backgroundimagepart2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 1%;
  border-top-width: 2%;
}

.text-part2 {
  margin-left: 5%;
  height: 60px;
  display: flex;
  align-items: flex-end;
}
.text-tpcn {
  font-size: 160%;
  font-weight: 500;
  width: 100%;
}
.product-form {
  max-width: 80%;
  margin-left: 10%;

  margin-top: 3%;
}
.productList-part2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.product {
  width: 22%;
  height: 300px;
  overflow: hidden;
}

.product-img {
  height: 70%;
  width: 100%;
}
.product-img1 {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}
.product-text1 {
  color: blue;
  font-size: 120%;
  font-weight: 400;
}
.product-text2 {
  color: gray;
  font-size: 70%;
}
.product-text3 {
  color: red;
  font-size: 100%;
}
.btn-xemthem {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.part-3 {
  height: auto;
  max-width: 100%;
  margin-top: 4%;
  align-items: center;
  text-align: center;
}
.img-left {
  min-width: 100%;
  height: 80%;
}
.text-left {
  width: 100%;
  height: 20%;
}
.part-4 {
  margin-top: 2%;
  background-color: rgb(243, 224, 200);
  color: rgb(90, 85, 85);
}

.image {
  width: 100%;
  height: 300px;
}
.image img {
  width: 100%;
  height: 100%;
}
.part-1-mobie {
  display: flex;
  align-items: center;

  height: 100px;
  max-width: 100%;
  background-image: linear-gradient(to right, rgb(236, 218, 195), white);
}

.icon-humbugur {
  display: flex;
  text-align: end;
}
.bi-list {
  font-size: 2.5rem;
}
.bi-chat-dots {
  font-size: 2rem;
}
.chat {
  margin-left: 90%;
  margin-bottom: 5%;
  height: 30px;
}
@media only screen and (min-width: 1200px) {
  .part-1-deskop {
    display: flex;
  }
  .part-1-mobie {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  .part-1-deskop {
    display: none;
  }
  .text-vietphat {
    margin-left: 3%;
  }
  .part-2 {
    height: auto;
  }
  .part-3 {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .product {
    width: 32%;
  }
}
@media only screen and (max-width: 576px) {
  .product {
    width: 48%;
  }
  .part4 {
    width: 33%;
  }
  .part4-phanhoi {
    display: none;
  }
  .part-slider {
    display: none;
  }
}
@media only screen and (min-width: 576px) {
  .chat {
    display: none;
  }
}
a {
  text-decoration: none;
  font-size: 1rem;
  color: rgb(71, 66, 66);
}
.phanhoi {
  display: flex;
}
.input-phanhoi {
  width: 60%;
}
.btn-phanhoi {
  border-radius: 5px;
  background-color: red;
  color: white;
  margin-left: 1%;
}
.part4-texthead {
  font-size: 120%;
  color: rgb(26, 16, 16);
  font-weight: 400;
}
.form-img {
  justify-content: center;
  height:fit-content;
}
.form-inf {
  height: fit-content;
}
.img-chitiet {
  max-width: 400px;
  max-height: 400px;
  margin-top: 10%;
  margin-left: 30%;
}
.inf-motachitiet {
  margin-top: 10%;
  height: auto;
}
.input-soluong {
  width: 50px;
  height: 32px;
  border-left: 0;
  border-right: 0;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: center;
  cursor: text;
  border-radius: 0;
  -webkit-appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.09);
}
.btn-tanggiam {
  width: 30px;
  height: 32px;
  border-left: 0;
  border-right: 0;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: center;
  cursor: text;
  border-radius: 0;
  -webkit-appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.09);
  
}
.themvaogiohang {
  display: flex;

  height: 32px;
  border-left: 0;
  border-right: 0;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: center;
  cursor: text;
  border-radius: 0;
  -webkit-appearance: none;
}
.btn-themhang {
  width: auto;
  height: 42px;
  border-left: 0;
  border-right: 0;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: center;
  cursor: text;
  border-radius: 0;
  -webkit-appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.09);
  background-color: rgb(250, 226, 226);
  color: rgb(192, 96, 96);
  padding-left: 1%;
  padding-right: 1%;
}
.btn-muangay {
  width: auto;
  height: 42px;
  border-left: 0;
  border-right: 0;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: center;
  cursor: text;
  border-radius: 0;
  -webkit-appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.09);
  background-color: rgb(248, 95, 95);
  color: #fff;
  margin-left: 2%;
  padding-left: 1%;
  padding-right: 1%;
}
.tensanpham-chitiet {
  font-size: 1.7rem;
  
}


@media only screen and (max-width:992px) {
  .form-inf {
    margin-top: -10%;
    margin-left: 12%;
  }
  .img-chitiet {
    max-width: 400px;
    max-height: 400px;
    margin-top: 10%;
    margin-left: 25%;
}

}
@media only screen and (max-width:768px) {
  .img-chitiet {
    max-width: 400px;
    max-height: 400px;
    margin-top: 10%;
    margin-left: 13%;
}
.img-chitiet {
  max-width: 400px;
  max-height: 400px;
  margin-top: 10%;
  margin-left: 12%;
}
}
@media only screen and (max-width:576px) {
  .img-chitiet {
    max-width: 400px;
    max-height: 400px;
    margin-top: 10%;
    margin-left: 3%;
}
.form-inf {
  margin-left: 3%;
  margin-top: 0%;
}
.tensanpham-chitiet {
  margin-top: -33%;
}
.inf-motachitiet {
  margin-top: 30%;
}
}
.don-gia {
  color: rgb(70, 60, 60);
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.so-luong {
  height: 50px;
  font-size: 1.5rem;
  margin-right: 1%;
}
.mota-them {
  margin-left: 10%;
  margin-top: -19%;
}
@media only screen and (max-width:992px) {
  .mota-them {
    margin-top: -4%;
  }
}
@media only screen and (max-width:768px) {
  .mota-them {
    margin-top: 0%;
    margin-left: 1%;
  }
}
@media only screen and (min-width:1200px) {
  .mota-them {
    margin-top: -10%;
    margin-left: 12%;
  }
}
